body {
  font-family: sans-serif;
  color: #000;
  background: #fff;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

.demo-wrapper {
  box-sizing: border-box;
  width: 100%;
  height:auto;
  position: fixed;
  max-width: calc(100%);
  /*margin: auto;
  /*padding: 30px 0 0;*/
  margin-top: -50px;
}

.demo-container {
  padding: 0 0 0px;/*0 0 80*/
}

h2 {
  text-align: center;
  font-size: 32px;
  margin: 0 0 25px;
  font-weight: normal;
}

@media (max-width: 900px) {
  h2 {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 18px;
  }
}

/*검색어 버튼*/
fieldset {position: absolute; top:0px;margin-top:55px; right:0; z-index: 200; display: inline-block;  padding: 0 0 0 0px;  background: #fff;  border: none;  border-radius: 5px; } 



input, button { position: relative;top:0px; right:0;z-index: 300; width: 300px;  height: 40px;  padding: 0;  display: inline-block;  float: left; } // 검색창과 버튼 너비 크기 설정



input {  color: #666;  z-index: 2;  border: 0 none; }



input:focus {  outline: 0 none; } /* 마우스로 클릭 후 입력할 때의 반응에 대한 설정*/

input:focus + button {

  -webkit-transform: translate(0, 0);

      -ms-transform: translate(0, 0);

          transform: translate(0, 0);

  -webkit-transition-duration: 0.3s;

          transition-duration: 0.3s;

}

input:focus + button .fa {

  -webkit-transform: translate(0px, 0);

      -ms-transform: translate(0px, 0);

          transform: translate(0px, 0);

  -webkit-transition-duration: 0.3s;

          transition-duration: 0.3s;

  color: #fff;

}



button {  z-index: 1;  width: 50px;  border: 0 none;  background: #ceb980;  cursor: pointer;  border-radius: 0 5px 5px 0;  

  -webkit-transform: translate(0, 0);

      -ms-transform: translate(0, 0);

          transform: translate(0, 0);

  -webkit-transition-duration: 0.3s;

          transition-duration: 0.3s;

}


.fa-search {  font-size: 1.4rem;  color: #29abe2;  z-index: 3;  top: 25%; 

  -webkit-transform: translate(-190px, 0); 

      -ms-transform: translate(-190px, 0);

          transform: translate(-190px, 0);

  -webkit-transition-duration: 0.3s;

          transition-duration: 0.3s;

  -webkit-transition: all 0.1s ease-in-out;

          transition: all 0.1s ease-in-out;

}

form{
  float:right;
}


/*로고*/
.copyright{
  z-index: 300;
  position: absolute;
  bottom: 70px;
  right: 45%;
  font-size: 24px;
  color: gray;
}



/*Haburger menu button*/
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 body
 {
   margin: 0;
   padding: 0;
   
   /* make it look decent enough */
   background: #fff;
   color: #cdcdcd;
   font-family: "Avenir Next", "Avenir", sans-serif;
 }
 
 #menuToggle
 {
   display: block;
   position: relative;
   top: 80px;
   left: 50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }