body
{
  margin: 0;
  padding: 0;

  /* make it look decent enough */
  background: #fff;
  color: #fff;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menu li{
  padding: 10px 0;
  font-size: 22px;
}


/*검색어 버튼*/
fieldset {
  position: absolute;
  width: 380px; /*search button 아래로 내려가면 width 조절하기*/
  top: 0px;
  margin-top:25px;
  left: 255px;
  z-index: 200;
  border: none;
  background: #fff;
  border-radius: 5px;
  /*padding-top: 10px;*/
}



input, button {
  position: relative;
  top:0px;
  right:0;
  z-index: 300;
  width: 300px;
  height: 40px;
  padding: 0;
  display: inline-block;
  float: left;
  } // 검색창과 버튼 너비 크기 설정


input {
  color: #666;
  z-index: 2;
  border: 0 none;
}


input:focus {
  outline: 0 none;
  } /* 마우스로 클릭 후 입력할 때의 반응에 대한 설정*/

input:focus + button {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

input:focus + button .fa {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: rgb(230, 199, 123);
}

button {
  z-index: 1;
  width: 50px;
  border: 0 none;
  background: #cc8a56;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  color: rgb(255, 255, 255);
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}


.fa-search {
  font-size: 1.4rem;
  color: #29abe2;
  z-index: 3;
  top: 25%;

  -webkit-transform: translate(-190px, 0);
      -ms-transform: translate(-190px, 0);
          transform: translate(-190px, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}

form{
  float:right;
}


/*왼쪽 배너부분*/
.white-frame{
    position: absolute;
    width:200px;
    height:200%;
    background-color: #254290;

    /*rgba속성은 흰색으로 넣을건데 alpha값: 투명도 정해주는것.투명도는 0.7*/
    left: 0;
    /*margin: auto;/*마진값 줘서 좌우 auto로.*/
    /*border-right:1px solid #8CD790;*/
}

a{
    text-decoration: none; /*링크 걸린 곳에 밑줄뜨는 것 없앰.*/
}

.copyright{
    margin-top: 20px;
}


.imsi-title{
    color:#fff; /*단축키: Alt+Ctrl+C*/
    font-weight: 300;
    font-size:1.5em;
    /*letter-spacing:-0.1em;*/
    text-align: center;
    padding-top: 15px;
    font-family: 'Patua One', cursive;
}


.menu {
  color: #fff/*hsv(211, 100%, 85%)*/; /*worldmap, menu*/
  font-weight: 200;
  font-size: 1.0em;
  text-align: center;
  padding-top: 30px;
  padding-left: 20px;
 /*#ffb900 -->click시 글자색 바뀌는거나/point 색*/
  font-family: 'Domine', serif;

}

.loginNregister{
  position:absolute;
  width: 150px;
  left: 1090px;
  top: 20px;
  font-size: 0.9em;
  color: #ffb900;
}


.wikiImage{
  position: absolute;
  top: 88px;
  left: 270px;
  width: 800px;
  height: 490px;
}

.imageInframe{
  width:180px;
  height: 180px;
}

.wikiImageInFrame{
  padding: 30px 0px 0px 10px;
  width: 130px;
  height: 130px;
}

.context{
  position: absolute;
  top: 650px;
  width:900px;
  left: 270px;
  font-family: 'Cormorant Garamond', serif;
  color: #000;
}

.foodName{
  position: absolute;
  top: 610px;
  width:900px;
  left: 270px;
  font-family: 'Cormorant Garamond', serif;
  color: #000;
  font-size: 1.7em;
}

/*플로팅 배너 만들기*/
html,body {
  margin:0;
  padding:0;
  position:
  relative;
  height: 100%;
}
#wrap {
  margin:0 auto;
  text-align:center;
  color: #000;
  background-color: #000;
}
#quick_bg {
  margin:0 auto;
  text-align:center;
  width:960px;
  position:relative;
  left: /*-55*/1030px;
}
#quick {
  position:absolute;
  z-index:2;
  top:50%;/*15px였던 것 바꿈. */
  width:153px;
  left:0px;
  background-color: #000;
  color: #000;
}
